.container{
    border: 1px rgb(211, 146, 24) solid;
    text-align: center;
    border-radius: 20px;
    width: 50%;

}
.container-padding{
    padding: 15px;
}
h1{
    color: #1971c1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}
div{
    margin-bottom: 10px;
}
#label_baslik{
    color: #f08c00;
}
input{
    padding: 2%;
    width: 96%;
    border: 1px #f08c00 solid;
    border-radius: 5px;
}
.div-left{
    text-align: left;
    width: 90%;
}
.div-right{
    text-align: right;
    width: 90%;
}
button{
    border: 1px #1971c2 solid;
    background-color: #a8d5ff;
    color: #1971c2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    padding: 7px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10px;
    
}
.div-p90{
    width: 90%;
}

img{
    width: 55%;
    border-radius: 50%;
}
.div-mb{
    margin-top: 20px;
    margin-bottom: 20px;
}
.lbl-plus{
    font-size: 25px;
    padding-left: 7px;
    padding-right: 7px;
    color: red;
    border: 1px red solid;
    border-radius: 50%;
    position: absolute;
    top: 30px;
}